---
description: Vector v<%= release.version %> release notes: <%= release_summary(release) %>.
---

# v<%= release.version %> release notes

<p align="center">
  <strong>
    Get notified of releases → <a href="https://github.com/timberio/vector/watchers">watch the Vector repo</a> or <a href="https://vector.dev/mailing_list/">join our mailing list</a>.
  </strong>
</p>

---

![Vector v<%= release.version %> release][images.v<%= release.version %>]

---

* [**Changes**](#changes) - [+<%= release.insertions_count %> -<%= release.deletions_count %>](<%= release.compare_url %>)<% if newer_releases.any? %>, [⚠️ <%= pluralize(newer_releases.size, "newer release") %>][docs.releases]<% end %>
<%=- release_changes_toc(release).indent(2) -%>
* [**Contributors**](#contributors)
* [**Updating**](#updating) - [download][<%= release.short_link %>]
* [**Community**][url.community] - [chat/forum][url.vector_chat], [mailing list][url.mailing_list]
* [**Roadmap**][url.roadmap] - [vote on new features][url.vote_feature]

---

## Changes

<%= release_changes(release, grouped: true) %>
## Contributors

Thank you to all of our contributors:

<%- release.authors.each do |author| -%>
* <%= author %>
<%- end -%>

## Updating

This release does not require a special upgrade process, please update by following the [standard updating process for your platform][docs.updating].

---

<p align="center">
  Developed with ❤️ by <strong><a href="https://timber.io">Timber.io</a></strong>
</p>